[Unit]
Description=Meteocontrol script
Wants=network-online.target
After=network-online.target

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi
Restart=always
ExecStart=/usr/bin/python /home/pi/modbus.py

[Install]
WantedBy=multi-user.target
